
<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <proxies/>
      <mirrors>
        <mirror>
          <id>artifactory</id>
          <mirrorOf>*</mirrorOf>
          <url>https://github.com/Rococo/mvn-repo</url>
          <name>LocalSocial</name>
        </mirror>
      </mirrors>
      <profiles>
        <profile>
          <id>Repository Proxy</id>
          <activation>
            <activeByDefault>true</activeByDefault>
          </activation>
          <!-- ******************************************************* -->
          <!-- repositories for jar artifacts -->
          <!-- ******************************************************* -->
          <repositories>
            <repository>
              <id>internal</id>
              <name>LocalSocial Managed Internal Repository</name>
              <url>https://github.com/Rococo/mvn-repo</url>
              <releases>
                <enabled>true</enabled>
              </releases>
              <snapshots>
                <enabled>false</enabled>
              </snapshots>
            </repository>
          </repositories>
          <!-- ******************************************************* -->
          <!-- repositories for maven plug-ins -->
          <!-- ******************************************************* -->
          <pluginRepositories>
            <pluginRepository>
              <id>internal</id>
              <name>LocalSocial Managed Internal Repository</name>
              <url>https://github.com/Rococo/mvn-repo</url>
              <releases>
                <enabled>true</enabled>
              </releases>
              <snapshots>
                <enabled>false</enabled>
              </snapshots>
            </pluginRepository>
            <!-- bluecove snapshots for mac -->
            <pluginRepository>
              <id>bluecove.snapshots</id>
              <url>http://www.pyx4me.com/maven2-snapshot/</url>
            </pluginRepository>
          </pluginRepositories>
        </profile>
      </profiles>
  <activeProfiles/>
  <pluginGroups/>
</settings>





